@import './reset.css';

body {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width:86px;
    height:auto;
    padding:4rem;
}

h1 {
    padding:1rem;
    font-size: 2.5rem;
    color: hsl(0, 0%, 59%);
}

h1 strong {
    color: black;
    font-weight: 700;
}

form {
    padding:2rem;
}

input {
    font-size: 14px;
    padding:1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid hsl(0, 0%, 59%);
    width:20rem;
}

form button {
    font-size: 14px;
    padding:1rem 3rem;
    border-radius: 2rem;
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-weight: 600;
    border: 1px solid hsl(0, 0%, 59%);
}